<!doctype html>
<html class="default no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="viewport" content="width=1000" />

    {{> analytics}}

    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
    <link rel="stylesheet" href="{{relativeURL "../assets/css/styles.css"}}" />
</head>
<body>

{{> header}}

<div class="container-typedoc container-typedoc-main">
    <div class="row">
        <div id="vertical-line" class="leave-at-xs-sm"></div>

        <div class="col-4 col-menu menu-sticky-wrap menu-highlight">
            <nav class="tsd-navigation primary">
                <ol class="module-list">
                    {{#each navigation.children}}
                        {{> navigation}}
                    {{/each}}
                </ol>
            </nav>

            <nav class="tsd-navigation secondary menu-sticky">
                <ul class="before-current">
                    {{#each toc.children}}
                        {{> toc.root}}
                    {{/each}}
                </ul>
            </nav>
        </div>

        <div class="col-8 col-content">
            <div class="tsd-page-title">
                  <h1>{{#compact}}
                      {{model.name}}
                      {{#if model.typeParameters}}
                          <wbr>&lt;
                          {{#each model.typeParameters}}
                              {{#if @index}},&nbsp;{{/if}}
                              {{name}}
                          {{/each}}
                          &gt;
                      {{/if}}
                  {{/compact}}</h1>
            </div>

            {{{contents}}}
        </div>

    </div>
</div>

{{> aidenFooter}}

<div class="overlay"></div>
<script src="{{relativeURL "assets/js/main.js"}}"></script>
<script>if (location.protocol == 'file:') document.write('<script src="{{relativeURL "assets/js/search.js"}}"><' + '/script>');</script>

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    crossorigin="anonymous"
></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
></script>
<script type="text/javascript" src="{{relativeURL "../assets/index.js"}}"></script>

</body>
</html>
