<!doctype html>
<html class="default no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{#ifCond model.name '==' project.name}}{{project.name}}{{else}}{{model.name}} | {{project.name}}{{/ifCond}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link rel="stylesheet" href="{{relativeURL "assets/css/main.css"}}">
</head>
<body>

{{> header}}

<div class="container container-main">
    <div class="row">
        <div id="vertical-line" class="leave-at-xs-sm"></div>

        <div class="col-4 col-menu menu-sticky-wrap menu-highlight">
            <nav class="tsd-navigation primary">
                <ol class="module-list">
                    {{#each navigation.children}}
                        {{> navigation}}
                    {{/each}}
                </ol>
            </nav>

            <nav class="tsd-navigation secondary menu-sticky">
                <ul class="before-current">
                    {{#each toc.children}}
                        {{> toc.root}}
                    {{/each}}
                </ul>
            </nav>
        </div>

        <div class="col-8 col-content">
            <div class="tsd-page-title">
                  <h1>{{#compact}}
                      {{model.name}}
                      {{#if model.typeParameters}}
                          &lt;
                          {{#each model.typeParameters}}
                              {{#if @index}},&nbsp;{{/if}}
                              {{name}}
                          {{/each}}
                          &gt;
                      {{/if}}
                  {{/compact}}</h1>
            </div>

            {{{contents}}}
        </div>

    </div>
</div>

{{> footer}}

<div class="overlay"></div>
<script src="{{relativeURL "assets/js/main.js"}}"></script>
<script>if (location.protocol == 'file:') document.write('<script src="{{relativeURL "assets/js/search.js"}}"><' + '/script>');</script>

{{> analytics}}

</body>
</html>
